{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}" />

<div class="content-footer">
    <div class="social-media">
        <p>Our Media handles</p>
        <ul>
            <li>TikTok</li>
            <li>Twitter</li>
            <li>Whatsapp</li>
            <li>FaceBook</li>
            <li>Instagram</li>
        </ul>
    </div>

    <div class="product-adverts">
        <p>Our Products</p>
        <ul>
            <li>Our Library</li>
            <li>Our Kitchen</li>
            <li>Our Classrooms</li>
            <li>Our Laboratory</li>
            <li>Our Dormitories</li>
        </ul>
    </div>

    <div class="subject-offers">
        <p>Our services</p>
        <ul>
            <li>Our Staff</li>
            <li>Leaderboard</li>
            <li>Administration</li>
            <li>Meet Our teachers</li>
            <li>Sports department</li>
            <li>Science department</li>
            <li>Languages department</li>
            <li>Humanities department</li>
            <li>Mathematics department</li>
        </ul>
    </div>
</div>
