<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>St. Francis Nyacaba Secondary School</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" href="{% static 'css/index-body.css' %}" />
        
    </head>
    <body>
        {% include "student/navbar.html" %}

        <div class="content-body"></div>

        {% include "student/footer.html" %}
    </body>
</html>
